/* CSS declarations go here */


.bubble{
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
    margin-top:5px;
    margin-bottom: 5px;
}

.bubble::before {
    background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
    -moz-transform:    rotate( 29deg ) skew( -35deg );
    -ms-transform:     rotate( 29deg ) skew( -35deg );
    -o-transform:      rotate( 29deg ) skew( -35deg );
    -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.you {
    right:10px;
    float: left;
    margin: 5px 9px 10px 20px;
}

.you::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;
}

.me {
    float: right;
    margin: 5px 1px 10px 20px;
}
.me::before {
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;
}
.profile-chat {
    height:32px;
    width: 32px;
    font-size: 8pt;
}
.profile-room {
    height:64px;
    width: 64px;
    align:center;
}
.room-list{
    width:20%;
    height :100%;
    float:left;
}
.room{
    width :100%;
}
.chat-list{
    width:78%;
    height :100%;
    margin-left:20%;
}
.chat {
    margin-top:1%;
}
.time {
    float : right;
    margin-top: 2px;
    font-size : 1pt;
    color: #B2B2B2;
}
.input-chat{
    position:fixed;
    width: 70%;
    margin-top: 45%;
    margin-left : 25%;
}
.send-chat-btn{
}
.input-chat-mobile{
     margin-top  : 50%
 }
@media screen and (max-width:992px) {
    .input-chat {
        margin-left  : 2%;
        margin-right :1%;
        margin-bottom  : 0%;
    }
    .chat-list{
        width:98%;
        height :100%;
        margin-left:0%;
    }
}
.people-list {
    width: 20%;
    float: left;
    background: #444753;
}
.people-list .search {
    padding: 5%;
}
.people-list input {
    border-radius: 3px;
    border: none;
    padding: 14px;
    color: white;
    background: #6A6C75;
    width: 90%;
    height :5%;
    font-size: 14px;
}
.people-list .fa-search {
    position: relative;
    left: -25px;
}
.people-list ul {
    padding: 20px;
    height: 770px;
}
.people-list ul li {
    padding-bottom: 20px;
}
.people-list img {
    float: left;
}
.people-list .about {
    float: left;
    margin-top: 8px;
}
.people-list .about {
    padding-left: 8px;
}
.people-list .name {
    color:white;
}