/* CSS declarations go here */
html{
    height:100%;
}
body{
    height:100%;
    overflow:hidden;
    background: #F2F5F8;
}
.bubble{
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
    margin-top:5px;
    margin-bottom: 5px;
}

.bubble::before {
    background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
    -moz-transform:    rotate( 29deg ) skew( -35deg );
    -ms-transform:     rotate( 29deg ) skew( -35deg );
    -o-transform:      rotate( 29deg ) skew( -35deg );
    -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.you {
    right:10px;
    float: left;
    margin: 5px 9px 10px 20px;
}

.you::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;
}

.me {
    float: right;
    margin: 5px 8px 10px 20px;
}
.me::before {
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;
}
.profile-chat {
    height:32px;
    width: 32px;
    font-size: 8pt;
    margin-left:0%;
}
.profile-room {
    height:64px;
    width: 64px;
    margin-top :1%;
    margin-left :2%;
    align:center;
}
.profile-info{
    height:128px;
    width: 128px;
    align:center;
}
.profile-room-mobile {
    height:50px;
    width: 50px;
    margin-top:10%;
}
.profile-room-mobile-name{
    margin-right:15%;
    margin-top :7%;
    float:right;
}
.room-list{
    width:23%;
    height :100%;
    background: #444753;
    float:left;
    overflow-y: auto;
    overflow: hidden;
}
.room{
    width : 90%;
    margin-left: 5%;
    margin-bottom:5%;
    border-radius: 10px;

}
.room-new-alarm{
    width :90%;
    margin-left: 5%;
    margin-bottom:5%;
    border-radius: 10px;
    animation-name: alarm-scale-change;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.room-mobile{
    border-bottom: 2px solid azure;
}
.search{
    padding: 20px;
}
.search-friend{
    padding: 20px;
    color:black;
}
.chat-list{
    width:77%;
    margin-left:23%;
    height :88%;
    position: relative;
    background: #F2F5F8;
    overflow: auto;
}
.chat-list-inner{
    overflow-y: auto;
}
.time {
    float : right;
    margin-top: 2px;
    font-size : 1pt;
    color: #B2B2B2;
}
.input-chat-mobile{
    margin-top  : 50%;
 }
.input-chat{
    margin-top:0%;
    margin-left:23%;
    width: 77%;
    height: 30%;
    background: #F2F5F8;
    border-top: 2px solid white;
}
.input-chat .btn{
    margin-top: 9px;
}
.input-chat input{
    margin-top:0%;
}
.find-friend{
    width:500px;
    height:500px;
    background: #444753;
}
.send-file{
    margin-top:20%;
    width:300px;
    height:130px;
    background: #444753;
    overflow:hidden;
}
.add-friend{
    width:200px;
    height:100px;
    background: #444753;

}
.invite-friend-btn{
    font-size: 35px;
    margin-right: 2%;
    margin-top: 2%;
    margin-left: 2%;
    float:left;
}
.add-friend-list{
    width:100%;
    height:90%;
    overflow: auto;
}
.my-info{
    width:500px;
    height:620px;
    background: #444753;
    overflow:hidden;
}
.my-info-box{
}
.separate-line{
    margin-top: 2px;
    border-top: 2px solid teal;
}
.cursor-default-area{
    cursor: default;
    font-family: Serif;
    font-size: 40px;
    font-weight: bolder;
}
.file-upload-btn{
    margin-left : 29%;
    margin-top : 820px;
}
.invite-friend-notice{
    background-color: gray;

}
.title-text{
    font-size: 50px;
    font-family: 'Nanum Brush Script';
    font-style: normal;
    font-weight: 400;
}
#profile_change_btn{
    margin-left: 35%;
}
#add_selected_friends{
    margin-left:80%;
}
#invite_selected_friends{
    margin-left:80%;
}
#toast-container {
    top: auto;
    right: auto;
    bottom: 10%;
    left:50%;
}
#helpText{
    margin-top: 25%;
    font-size: 50px;
    font-family: 'Nanum Brush Script';
    font-style: normal;
    font-weight: 400;
}
#fileMsg{
    font-size: 25px;
    font-family: 'Nanum Brush Script';
    font-style: normal;
    font-weight: 400;
}
#send-file-button{
    margin-left:30%;
}
@media screen and (max-width:992px) {
    .input-chat {
        margin-bottom  : 0%;
        margin-left :0%;
        width:100%;
    }
    .chat-list{
        width:100%;
        height :100%;
        margin-left:0%;
    }

}
@media screen and (max-height: 1200px){
    .chat-list{
        height :85%;
    }
}
@media screen and (max-height: 1200px){
    .chat-list{
        height :85%;
    }
}
@media screen and (max-height: 1000px){
    .chat-list{
        height :85%;
    }
}
@media screen and (max-height: 950px){
    .chat-list{
        height :84%;
    }
}
@media screen and (max-height: 890px){
    .chat-list{
        height :80%;
    }
}
@media screen and (max-height: 750px){
    .chat-list{
        height :78%;
    }
}
@media screen and (max-height: 690px){
    .chat-list{
        height :77%;
    }
}
@keyframes alarm-scale-change {

    0% { transform: scale(1); }
    30% { transform: scale(1); }
    40% { transform: scale(1.08); }
    50% { transform: scale(1); }
    60% { transform: scale(1); }
    70% { transform: scale(1.05); }
    80% { transform: scale(1); }
    100% { transform: scale(1); }
}